.nav {
	color:blue;
	font-size: 11px;
	font-weight: bold;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
	text-transform:uppercase;
}
.title {
	height: 350px;
	background-color: #cccccc;
	background-image: url('https://goo.gl/ODpi3y');
}
.title h1 {
	text-align:center;
	color:white;
	font-weight: bold;
	margin:0 auto;
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	padding:125px;
	border:1px solid #ffffff;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;  
}
.title p {
	color:white;
	text-align:center;
	font-weight: bold;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;  
}

.welcome {
	backgound-color: #f7f7f7;
}

.welcome h3{
	font-family:'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.welcome a {
    color:#00b0ff;
}